.container{
    width: 100vw;
    height: 100vh;
    background-color: rgba(99, 82, 82, 0.281);
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
}
.main{
    width: 300px;
    background-color: white;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
    flex-direction: column;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    gap: 8px;
}
.main h1{
    border-bottom: 1px solid grey;
    color: black;
}
.main p{
    color: black;
}
.main button {
    width: 100px;
    margin-top: 8px;
    background-color: blue;
    color: white;
    border: none;
    padding: 8px;
    border-radius: 5px;
    float: right;
    margin-right:8px ;
}
.button{
    width: 100%;
    align-items: center;
}