.container {
    color: white;
    width: 90%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    span{
    cursor:default;

    }
    .content{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 4px;
        justify-content: space-between;
    }
}
