.container {
    color: white;
    width: 90%;
    min-height: 40px;
    display: flex;
    align-items: center;
    padding: 4px;
    border-radius: 4px;
    padding: 10px;
    span{
    cursor:default;
   
    }
    .content{
        display: flex;
        width: 100%;
        align-items: center;
        padding: 4px;
        justify-content: space-between;
        .item{
            height: auto;
            display: flex;
            flex-direction: column;
            gap: 8px;
            p{
                max-width: 80%;
                font-size: 12px;
                overflow: hidden;
                word-wrap: break-word;
                max-width: 230px;
                background-color: transparent;
                color:rgba(209, 201, 201, 0.815);
            }
            span{
                font-weight:bold;
            }
        }
    }
    .row{
        display: flex;
        gap: 12px;
        align-items: center;
        justify-content: center;
        height: 40px;
        span{
            cursor: pointer;
        }
    }
}
